@model ERPortal.Core.ViewModels.ERScreeningDetailViewModel
 
@using (Html.BeginForm("AjaxAdd", "Operator", new { targetPage = "ERScreeningDetail",FileRef = ViewBag.RefId}, FormMethod.Post, new { @id = "myForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(model => model.eRScreeningDetail.ERScreeningInstituteId, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-6 d-flex align-items-center">
                @Html.DropDownListFor(model => model.eRScreeningDetail.ERScreeningInstituteId, new SelectList(Model.eRScreeningInstitutes, "Id", "InstituteName"), "Select ER Screening Institute", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.eRScreeningDetail.ERScreeningInstituteId, "", new { @class = "text-danger" })
            </div>
        </div>
       
       @*<div class="form-group row">
            @Html.LabelFor(model => model.eRScreeningDetail.ReportDocumentPath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eRScreeningDetail.ReportDocumentPath, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.eRScreeningDetail.ReportDocumentPath, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group row">
            @Html.LabelFor(model => model.eRScreeningDetail.FirstOrderScreening, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-6 d-flex align-items-center">
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(model => model.eRScreeningDetail.FirstOrderScreening, true, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.eRScreeningDetail.FirstOrderScreening, "Yes", new { @class = "form-check-label" })
                </div>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(model => model.eRScreeningDetail.FirstOrderScreening, false, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.eRScreeningDetail.FirstOrderScreening, "No", new { @class = "form-check-label" })
                </div>
                <div>  @Html.ValidationMessageFor(model => model.eRScreeningDetail.FirstOrderScreening, "", new { @class = "text-danger" })</div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.eRScreeningDetail.SecondOrderScreening, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-6 d-flex align-items-center">
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(model => model.eRScreeningDetail.SecondOrderScreening, true, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.eRScreeningDetail.SecondOrderScreening, "Yes", new { @class = "form-check-label" })
                </div>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(model => model.eRScreeningDetail.SecondOrderScreening, false, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.eRScreeningDetail.SecondOrderScreening, "No", new { @class = "form-check-label" })
                </div>
                <div>  @Html.ValidationMessageFor(model => model.eRScreeningDetail.SecondOrderScreening, "", new { @class = "text-danger" })</div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.eRScreeningDetail.ThirdOrderScreening, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-6 d-flex align-items-center">
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(model => model.eRScreeningDetail.ThirdOrderScreening, true, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.eRScreeningDetail.ThirdOrderScreening, "Yes", new { @class = "form-check-label" })
                </div>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(model => model.eRScreeningDetail.ThirdOrderScreening, false, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.eRScreeningDetail.ThirdOrderScreening, "No", new { @class = "form-check-label" })
                </div>
                <div>  @Html.ValidationMessageFor(model => model.eRScreeningDetail.ThirdOrderScreening, "", new { @class = "text-danger" })</div>
            </div>
        </div>
        <hr />
        <div class="form-group row" id="FileDiv">
            <div class="col-lg-12">
                <h6>ERScreening Report Documents</h6>
            </div>
            <div class="col-lg-6">
                <div class="form-check form-check-inline">
                    @Html.TextBox("file", "", new { type = "file", id = "txtFile" })
                    <input type="button" value="Upload" class="btn btn-sm btn-primary UploadFile" filerefid="@ViewBag.RefId" style="z-index:99999999" />
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <div id="UploadFilesData" style="display:none;border:dashed; border-color:brown">

                </div>
            </div>

        </div>

    </div>
}

