@model ERPortal.Core.ViewModels.AdminManageViewModel


<style>
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: #bcf31185;
        color: darkblue;
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 shadow-lg bg-gradient-info mb-2 pt-1">
            <h3 class="text-light"><i class="fas fa-table"></i> Admin Manager</h3>
        </div>
        <!-- Tab panes -->
        <div class="tab-content shadow-lg col-lg-12 ">
            <ul class="nav nav-tabs bg-gradient-light mt-3">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#OrganisationsTab">Organisations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#FieldTypesTab">Field Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#UHCProductionMethodTab">UHC Production Method</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ERTechniquesTab">ER Techniques</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ERScreeningInstituteTab">ER Screening Institute</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#StatusTab">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#DepartmentTab">Department</a>
                </li>
            </ul>

            <div id="OrganisationsTab" class="container tab-pane active">
                <div class="card shadow-lg m-3">
                    <div class="card-body">

                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Organisation</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Is_Active</th>
                                    <th scope="col" class="text-center">Edit/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Organisation in Model.Organisations)
                                {
                                    <tr id="row_@Organisation.Id">
                                        <td>@Organisation.Name</td>
                                        <td>@Organisation.Type</td>
                                        <td>@Organisation.Is_Active</td>
                                        <td class="text-center">

                                            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#formModal" data-page="Organisation" data-title="Department" data-value="@Organisation.Id"><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-sm btn-danger DeleteData" data-target="Organisation" data-value="@Organisation.Id"><i class="fas fa-trash"></i></button>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <br />
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#formModal" data-page="Organisation" data-title="Organisation">Add new Organisation</button>
                    </div>
                </div>
            </div>
            <div id="FieldTypesTab" class="container tab-pane fade">
                <div class="card-body shadow-lg m-3">
                    <div class="card-body">

                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Field Type</th>
                                    <th scope="col">Is_Active</th>
                                    <th scope="col" class="text-center">Edit/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var FieldType in Model.FieldTypes)
                                {
                                    <tr id="row_@FieldType.Id">
                                        <td>@FieldType.Type</td>
                                        <td>@FieldType.Is_Active</td>
                                        <td class="text-center">

                                            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#formModal" data-page="FieldType" data-title="Department" data-value="@FieldType.Id"><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-sm btn-danger DeleteData" data-target="FieldType" data-value="@FieldType.Id"><i class="fas fa-trash"></i></button>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <br />
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#formModal" data-page="FieldType" data-title="Field Type">Add new Field Type</button>
                    </div>
                </div>
            </div>
            <div id="UHCProductionMethodTab" class="container tab-pane fade">
                <div class="card shadow-lg m-3">
                    <div class="card-body">

                        <table class="table table-striped table-bordered ">
                            <thead>
                                <tr>
                                    <th scope="col">Method Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Is_Active</th>
                                    <th scope="col" class="text-center">Edit/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var UHCProductionMethod in Model.UHCProductionMethods)
                                {
                                    <tr id="row_@UHCProductionMethod.Id">
                                        <td>@UHCProductionMethod.Name</td>
                                        <td>@UHCProductionMethod.Description</td>
                                        <td>@UHCProductionMethod.Is_Active</td>
                                        <td class="text-center">


                                            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#formModal" data-page="UHCProductionMethod" data-title="UHCProductionMethod" data-value="@UHCProductionMethod.Id"><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-sm btn-danger DeleteData" data-target="UHCProductionMethod" data-value="@UHCProductionMethod.Id"><i class="fas fa-trash"></i></button>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#formModal" data-page="UHCProductionMethod" data-title="UHC Production Method">Add new UHC Production Method</button>
                    </div>
                </div>
            </div>
            <div id="ERTechniquesTab" class="container tab-pane fade">
                <div class="card shadow-lg m-3">
                    <div class="card-body">

                        <table class="table table-striped table-bordered ">
                            <thead>
                                <tr>
                                    <th scope="col">Method</th>
                                    <th scope="col">TechniqueType</th>
                                    <th scope="col">TechniqueName</th>
                                    <th scope="col">Is_Active</th>
                                    <th scope="col" class="text-center">Edit/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var eRTechniques in Model.ERTechniques)
                                {
                                <tr id="row_@eRTechniques.Id">
                                    <td>@eRTechniques.Method</td>
                                    <td>@eRTechniques.TechniqueType</td>
                                    <td>@eRTechniques.TechniqueName</td>
                                    <td>@eRTechniques.Is_Active</td>

                                    <td class="text-center">


                                        <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#formModal" data-page="ERTechniques" data-title="ER Techniques" data-value="@eRTechniques.Id"><i class="fas fa-edit"></i></button>
                                        <button type="button" class="btn btn-sm btn-danger DeleteData" data-target="ERTechniques" data-value="@eRTechniques.Id"><i class="fas fa-trash"></i></button>

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#formModal" data-page="ERTechniques" data-title="ER Techniques">Add new ER Techniques</button>
                    </div>
                </div>
            </div>
            <div id="ERScreeningInstituteTab" class="container tab-pane fade">
                <div class="card shadow-lg m-3">
                    <div class="card-body">

                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Institute Name</th>
                                    <th scope="col">Contact Person</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Email Id</th>
                                    <th scope="col">Is_Active</th>
                                    <th scope="col" class="text-center">Edit/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ERScreeningInstitute in Model.ERScreeningInstitutes)
                                {
                                    <tr id="row_@ERScreeningInstitute.Id">
                                        <td>@ERScreeningInstitute.InstituteName</td>
                                        <td>@ERScreeningInstitute.ContactPerson</td>
                                        <td>@ERScreeningInstitute.Address</td>
                                        <td>@ERScreeningInstitute.EmailID</td>
                                        <td>@ERScreeningInstitute.Is_Active</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#formModal" data-page="ERScreeningInstitute" data-title="ERScreeningInstitute" data-value="@ERScreeningInstitute.Id"><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-sm btn-danger" value="@ERScreeningInstitute.Id"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#formModal" data-page="ERScreeningInstitute" data-title="ERScreening Institute">Add new ERScreening Institute</button>
                    </div>
                </div>
            </div>
            <div id="StatusTab" class="container tab-pane fade">
                <div class="card shadow-lg m-3">
                    <div class="card-body">
                        @{
                            if (Model.StatusMasters.Count() != 0)
                            {
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            @*<th scope="col">Id</th>*@
                                            <th scope="col">Status Id</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Is_Active</th>
                                            <th scope="col">Created Date</th>
                                            <th scope="col">Edit/Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var statusMaster in Model.StatusMasters)
                                        {
                                            <tr id="row_@statusMaster.Id">
                                                @*<td>@statusMaster.Id</td>*@
                                                <td>@statusMaster.CustStatusId</td>
                                                <td>@statusMaster.Status</td>
                                                <td>@statusMaster.Is_Active</td>
                                                <td>@statusMaster.CreatedAt.DateTime</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#formModal" data-page="StatusMaster" data-title="StatusMaster" data-value="@statusMaster.Id"><i class="fas fa-edit"></i></button>
                                                    <button type="button" class="btn btn-sm btn-danger DeleteData" data-target="StatusMaster" data-value="@statusMaster.Id"><i class="fas fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h4>No Status available</h4>
                            }
                        }
                        <br />
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#formModal" data-page="StatusMaster" data-title="Status">Add New Status</button>
                    </div>
                </div>
            </div>
            <div id="DepartmentTab" class="container tab-pane fade">
                <div class="card shadow-lg m-3">
                    <div class="card-body">
                        @{
                            if (Model.Departments.Count() != 0)
                            {
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>

                                            <th scope="col">Department Name</th>
                                            <th scope="col">Sub Department Name</th>
                                            <th scope="col">Is_Active</th>
                                            <th scope="col">Created Date</th>
                                            <th scope="col">Edit/Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var department in Model.Departments)
                                        {
                                            <tr id="row_@department.Id">
                                                <td>@department.DeptName</td>
                                                <td>@department.SubDeptName</td>
                                                <td>@department.Is_Active</td>
                                                <td>@department.CreatedAt.DateTime</td>
                                                <td class="text-center">

                                                    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#formModal" data-page="Department" data-title="Department" data-value="@department.Id"><i class="fas fa-edit"></i></button>
                                                    <button type="button" class="btn btn-sm btn-danger DeleteData" data-target="Department" data-value="@department.Id"><i class="fas fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h4>No Department available</h4>
                            }
                        }
                        <br />
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#formModal" data-page="Department" data-title="Department">Add New Department</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary BtnClose" data-dismiss="modal">Close</button>
                <button type="submit" form="myForm" class="btn btn-primary" id="saveButton">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/CustomFiles/AdminIndex.js"></script>
