<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DGH ER Management Portal">
    <meta name="author" content="Siddhartha, DGH IT-Team">
    <meta name="generator" content="Jekyll v3.8.5">
    <link rel="icon" href="~/Content/img/favicon.ico">

    <title>@ViewBag.Title | DGH ERPortal</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/CustomFiles/excludechar.js"></script>
    @Scripts.Render("~/bundles/popper")
    @*<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>*@
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("css", required: false)
    <script src="~/Scripts/CustomFiles/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/CustomFiles/printThis.js"></script>

    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <script src="~/Scripts/fontawesome/all.min.js"></script>

    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            padding-top: 5rem;
        }
        /*Custom styles for this page */
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>

</head>
<body class="bg-light">
    <nav class="shadow navbar navbar-expand-md navbar-dark fixed-top bg-custom-3">
        <a class="navbar-brand" href="#"><img src="~/Content/img/Icon_Design_trans_white.png" class="d-inline-block align-top" alt="" style="max-height:35px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" class="btn btn-info" value="LogOff" />
                    }              

                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container-fluid">

        @RenderBody()

    </main><!-- /.container -->
    @RenderSection("scripts", required: false)
    <!-- Modal -->
    <div class="modal fade" id="formDetailModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabelView">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContentView">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
      $(document).on("click", ".GeneratePDF", function (e) {
        e.preventDefault();
        var cssfile = "";  
          cssfile = "/Content/css/PrintingData.css";

        $(".container-fluid").printThis({
            importCSS: true,
            importStyle: true,
            printContainer: false,
            copyTagClasses: true,
            pageTitle: "",
            loadCSS: cssfile
        });
    });

</script>