<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DGH ER Management Portal">
    <meta name="author" content="Siddhartha, DGH IT-Team">
    <meta name="generator" content="Jekyll v3.8.5">
    <link rel="icon" href="~/Content/img/favicon.ico">

    <title>@ViewBag.Title | DGH ERPortal</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/CustomFiles/excludechar.js"></script>
    @Scripts.Render("~/bundles/popper")
    @*<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>*@
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("css", required: false)
    <script src="~/Scripts/CustomFiles/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/CustomFiles/printThis.js"></script>

    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <script src="~/Scripts/fontawesome/all.min.js"></script>
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.datetimepicker.js"></script>

    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <link href="~/Content/css/SideNavBar.css" rel="stylesheet" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            padding-top: 5rem;
        }
        /*Custom styles for this page */
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>

</head>
<body class="bg-light">
    <nav class="shadow navbar navbar-expand-md navbar-dark fixed-top bg-custom-1">
        <a class="navbar-brand" href="#"><img src="~/Content/img/Icon_Design_trans_white.png" class="d-inline-block align-top" alt="" style="max-height:35px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item active">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Operator", "Index", "Operator", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("DGH", "Index", "DGH", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("ER Committee", "Index", "ERCommittee", null, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Account", "Register", "Account", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>*@
            </ul>
            @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-info ml-2" id="LogOff" value="LogOff" />
            }
        </div>
    </nav>

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm  " style="background-color:#212529;" href="#">
            <i class="fas fa-bars text-light"></i>
        </a>
        @Html.Partial("SideNavBar")

        <main class="page-content">
            <div class="container-fluid">
                @RenderBody()
            </div>

        </main>
    </div>
    @RenderSection("scripts", required: false)

    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnclose " data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
                    <button type="submit" form="myForm" class="btn btn-success" id="saveButton"><i class="fas fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal  fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header alert-danger">
                    <h5 class="modal-title" id="exampleModalLongTitle">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContentAlert">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-check"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="CommentModal" role="dialog" aria-labelledby="CommentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CommentModalLabel">Add Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContentComment">
                </div>
                <div class="modal-footer">                 
                    <button type="submit" class="btn btn-primary" id="btnCommentSave">Save</button>
                </div>
            </div>
        </div>

    </div>
    <button type="button" class="btn btn-primary" style="display:none" id="btnalertmodal" data-toggle="modal" data-target="#exampleModalCenter"></button>    
    <button type="button" style="display:none" id="btnCommentViewModal" class="btn btn-primary" data-toggle="modal" data-target="#formDetailModal" data-page="Comment" data-title="View Comment"></button>
    @*<button type="button" style="display:none" id="opertor1" class="btn btn-primary" data-toggle="modal" data-target="#formModal" data-page="ERScreeningDetail" data-title="ERScreening Detail"></button>*@

</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {

        $(".datetimetext").datetimepicker({
             format:'Y/m/d',
              timepicker:false
        });
        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if ($(this).parent().hasClass("active")) {
                $(".sidebar-dropdown").removeClass("active");
                $(this).parent().removeClass("active");
            }
            else {
                $(".sidebar-dropdown").removeClass("active");
                $(this).next(".sidebar-submenu").slideDown(200);
                $(this).parent().addClass("active");
            }
        });
        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });
    });

    $(document).on('click', '.ViewComment', function (e) {
        e.preventDefault();
        var comText = $(this).attr('commenttext');
        var comType = $(this).attr('commentType');
        var comdate = $(this).attr('commentdate');
        $('#formModalLabelView').html('View Comment');
        $('#modalContentView').html('<div class=row><div class="col-lg-6 text-success font-weight-bold">Type : ' + comType + ' </div><div class="col-lg-6 text-success font-weight-bold">Date : ' + comdate + ' </div><div class="col-sm-12 mt-3 border-top "><h6 class="text-info">Comment :</h6> <p class="mt-3">' + comText + '</p></div></div>');
        $('#btnCommentViewModal').click();
    });

    $(document).on("click", ".GeneratePDF", function (e) {
        e.preventDefault();
        var cssfile = "";
        cssfile = "/Content/css/PrintingData.css";
        $(".container-fluid").printThis({
            importCSS: true,
            importStyle: true,
            printContainer: false,
            copyTagClasses: true,
            pageTitle: "",
            loadCSS: cssfile
        });

      });
    $('#btnCommentSave').click(function () {
         var formUrl = $('#myCommentForm').attr('action');
            $.ajax({
                url: formUrl,
                type: 'POST',
                data: $('#myCommentForm').serialize(),
                success: function (result) {

                    if ('Success' == result) {

                        $('#modalContentComment').html('<div class="alert alert-success" role="alert"> Successfully Added </div >');

                    } else {
                        $('#modalContentComment').html(result);
                    }
                },
                error: function (result) {

                      $('#modalContentComment').html(result);
                },
                fail: function (xhr, textStatus, errorThrown) {
                    $('#modalContentComment').html('<div class="alert alert-danger" role="alert">Request Failed with error: ' + errorThrown + '</div > ');

                }


             });

    });

    $(document).on('click', '.UploadFile', function (e) {
            e.preventDefault();
         var refid = $(this).attr('filerefid');
         var divid = $(this).attr('divid');
         var inputfile = $(this).attr('inputfile');
            var sendData = function () {
                var data = new FormData();
                data.append("file", $("#"+inputfile).get(0).files[0]);
                data.append("RefId", refid);
                return data;
            }();
             $.ajax({
                url: "@Url.Action("LoadUploadFile","Comment")",
                type: 'POST',
                 data: sendData,
                 contentType: false,
                processData: false,
                 success: function (result) {
                     if (result == "File upload Success") {
                         $("input[type='file']").val("");
                         GetUploadFilesData("#"+divid,refid );
                     }
                },
                 error: function () {

                    alert( "Something Went Wrong. Try Again");
                },
                fail: function (xhr, textStatus, errorThrown) {

                 }

             });

      });

    $(document).on("click", '.fileDelete', function (e) {
        e.preventDefault();
        var divId = $(this).attr('data-divid');
        var fileid = $(this).attr('data-fileid');
        var refid = $(this).attr('data-fileref');
          var sendData = { FileId:fileid };
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("RemoveUploadFile", "Comment")',
            data: JSON.stringify(sendData),
            datatype: 'json',
            async: false,
            success: function (data) {
               // alertModal(data);
                GetUploadFilesData(divId, refid);
            },
            error: function () {
                alertModal("Something Went Wrong. Try Again");
            },
        });

    });


     function alertModal(msg) {
         $('#btnalertmodal').click();
         $('#modalContentAlert').html("<strong>" + msg + "</strong>");
    }

    function GetUploadFilesData(divId, refid) {
        $(divId).html("No files attached");
            var sendData = { RefId:refid };
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("GetUploadFiles", "Comment")',
                data: JSON.stringify(sendData),
                datatype: 'json',
                success: function (data) {
                    if (data) {
                        var txt = "";
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                txt += "<div class='badge badge-warning mr-2 mb-2'><a class='text-dark' href='@Url.Content("~/Content/UploadedFiles/")" +
                                    data[i].FileName + "' target='_blank'>" + data[i].FileName + "</a><a class='fileDelete small text-danger' data-fileid='" +
                                    data[i].Id + "' data-fileref='"+ data[i].FIleRef+"' data-divid ='"+divId+"'  href='#'><i class='ml-1 fa fa-times'></i></a></div>";
                            }
                            $(divId).html(txt);
                            $(divId).fadeIn("slow");
                        }
                    }
                },
                 error: function () {
                    alertModal( "Something Went Wrong. Try Again");
                },
            })
    }
    function ShowCommentModal(appid,title) {

        $.ajax({
            url: "/Comment/Comment?appid=" + appid,
            success: function (result) {
                $('#CommentModalLabel').text(title);
                $('#modalContentComment').html(result);

            },
            error: function () {
                $('#modalContentComment').html('<div class="alert alert-danger" role="alert"> An Error has occured </div >');

            },
            fail: function (xhr, textStatus, errorThrown) {
                $('#modalContentComment').html('<div class="alert alert-danger" role="alert">Request Failed with error: ' + errorThrown + '</div > ');

            }
        });

    }






</script>