
    <nav id="sidebar" class="sidebar-wrapper">  
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">DGH ER</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                         alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">
                        Jhon
                        <strong>Smith</strong>
                    </span>
                    <span class="user-role">Administrator</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                            @*<span class="badge badge-pill badge-warning">New</span>*@
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })

                                </li>
                                <li>
                                    @Html.ActionLink("Operator", "Index", "Operator", null, new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("DGH", "Index", "DGH", null, new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("ERC", "Index", "ERCommittee", null, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Admin</span>
                            @*<span class="badge badge-pill badge-warning">New</span>*@
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("Home", "Index", "Admin", null, new { @class = "nav-link" })

                                </li>
                                <li>
                                    @Html.ActionLink("Register User", "Register", "Account", null, new { @class = "nav-link" })
                                </li>
                               
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            @*<a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="#">
                <i class="fa fa-power-off"></i>
            </a>*@
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-light btn-sm ml-3" id="LogOff">   <i class="fa fa-user-alt"></i> Log Off</button>

            }
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
