@model ERPortal.Core.ViewModels.DGHERProposalViewModel
@{
    ViewBag.Title = "AppRecToDGH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: #bcf31185;
        color: darkblue;
    }

   #ERProposalTab label {
        font-weight: 700;        
    }
</style>

@Html.HiddenFor(model => model.ERApplications.ERScreeningDetailId)
@Html.HiddenFor(model => model.ERApplications.AppId)
@Html.HiddenFor(model => model.ERApplications.Id)
@Html.HiddenFor(model => model.ERApplications.DGHFileAttachment)
@Html.HiddenFor(model => model.ERApplications.DGHFileAttachmentForPilot)

<div class="container-fluid">

    <div class="row">
        <!-- Tab panes -->
        <div class="tab-content shadow-lg col-lg-12 ">
            <ul class="nav nav-tabs bg-gradient-light">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#ERProposalTab">ER Screening Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#CommentTab">Comment</a>
                </li>
            </ul>

            <div id="ERProposalTab" class="container tab-pane active">
                <div class="row">
                    <div class="col-md-12 mt-4">

                        @Html.AntiForgeryToken()

                        <div class="alert alert-success alert-dismissible showmsg d-none statussuccess">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                        <div class="card border-primary mb-3">
                            <div class="card-header bg-gradient-primary text-white">
                                <div class="row">
                                    <div class="col-lg-6"><h5><i class="fas fa-file-alt"></i> ER Screening Report Approval For DGH</h5></div>
                                    <div class="col-lg-6 ">
                                        <a href="#" class="btn btn-sm btn-outline-light float-right ml-1 GeneratePDF" id="printapp">Print</a>
                                        <a href="#" class="btn btn-sm btn-outline-light float-right ForwardApp" id="forwardapp"  data-toggle="modal" data-target="#CommentModal" data-page="Comment" data-title="Application Forward">Forward</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body ml-lg-5">
                                <fieldset id="disabledForm" disabled>
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.Organisation, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.Organisation.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.FieldType, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.FieldType.Type, new { @class = "form-control" })

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.FieldName, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.FieldName, new { htmlAttributes = new { @class = "form-control" } })

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.HydrocarbonType, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.HydrocarbonType, "Choose...", new { @class = "form-control" })

                                            </div>
                                        </div>

                                        <div class="form-group row" id="uhcProdnMethodDiv" style="display: none">
                                            @Html.LabelFor(model => model.ERApplications.UHCProductionMethod, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.UHCProductionMethodId, new { @class = "form-control" })

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.DateOfDiscovery, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.DateOfDiscovery, new { htmlAttributes = new { @class = "form-control datetimetext", @type = "text" } })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ImplementaionType, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.ImplementaionType, new { @class = "form-control" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.DateOfInitialCommercialProduction, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.DateOfInitialCommercialProduction, new { htmlAttributes = new { @class = "form-control ", @type = "text" } })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.PresentlyUnderProduction, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">
                                                    @Html.DisplayFor(model => model.ERApplications.PresentlyUnderProduction, new { @class = "form-check-input" })
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.ERApplications.PresentlyUnderProduction == false)
                                        {
                                            <div class="form-group row" id="DateOfLastCommercialProductionDiv">
                                                @Html.LabelFor(model => model.ERApplications.DateOfLastCommercialProduction, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                                <div class="col-sm-6 d-flex align-items-center">
                                                    @Html.DisplayFor(model => model.ERApplications.DateOfLastCommercialProduction, new { htmlAttributes = new { @class = "form-control", @type = "text" } })

                                                </div>
                                            </div>
                                        }
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.ERScreeningInstitute.InstituteName, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">
                                                    @Html.DisplayFor(model => model.ERApplications.ERScreeningDetail.ERScreeningInstitute.InstituteName, new { @class = "form-check-input" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.FirstOrderScreening, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">
                                                    @Html.DisplayFor(model => model.ERApplications.ERScreeningDetail.FirstOrderScreening, new { @class = "form-check-input" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.SecondOrderScreening, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">
                                                    @Html.DisplayFor(model => model.ERApplications.ERScreeningDetail.SecondOrderScreening, new { @class = "form-check-input" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.ThirdOrderScreening, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">
                                                    @Html.DisplayFor(model => model.ERApplications.ERScreeningDetail.ThirdOrderScreening, new { @class = "form-check-input" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.FieldOIIP, "FieldOIIP (MMbbl)", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="input-group mb-3">
                                                    @Html.DisplayFor(model => model.ERApplications.FieldOIIP, new { htmlAttributes = new { @class = "form-control", aria_describedby = "basic-addon1" } })
                                                </div>


                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.FieldGIIP, "FieldGIIP (TCF)", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="input-group mb-3">
                                                    @Html.DisplayFor(model => model.ERApplications.FieldGIIP, new { htmlAttributes = new { @class = "form-control", aria_describedby = "basic-addon2" } })

                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.TechnicallyCompatible, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">
                                                    @Html.DisplayFor(model => model.ERApplications.TechnicallyCompatible, new { @class = "form-check-input" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.EconomicViability, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">
                                                    @Html.DisplayFor(model => model.ERApplications.EconomicViability, new { @class = "form-check-input" })

                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.AdditonalRemarks, htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.AdditonalRemarks, new { htmlAttributes = new { @class = "form-control" } })

                                            </div>
                                        </div>
                                        <div id="DetailViewFile" class="form-group row">
                                            <div class="pl-2 border-primary col-sm-12" style="border:dashed">
                                                <p class="text-info font-weight-bold">ER Screening Documents</p>
                                                @Html.HiddenFor(model => model.ERApplications.ERScreeningDetail.ReportDocumentPath)
                                                @if (ViewBag.ERFiles.Count > 0)
                                                {
                                                    foreach (var x in ViewBag.ERFiles)
                                                    {
                                                        <div class='badge badge-warning mr-2 mb-2'>
                                                            <a class='text-dark' href="@Url.Content("~/Content/UploadedFiles/" + x.FileName)" target='_blank'>@x.FileName</a>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <h6 class="text-danger font-weight-bold">No File Found</h6>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div id="CommentTab" class="container tab-pane fade">
                <br />
                <div class="row">
                    <div class="col-md ">
                        <div class="card border-success mb-3">
                            <div class="card-header bg-gradient-success text-white">
                                <div class="row">
                                    <div class="col-lg-6"><h4><i class="fas fa-edit"></i> COMMENTS</h4></div>
                                    <div class="col-lg-6 "><a href="#" class="btn btn-outline-light float-right GeneratePDF" id="printapp">Print</a></div>
                                </div>
                            </div>
                            <div class="card-body ml-lg-5">
                                <div class="col-sm-12 mt-3">
                                    <table class="table table-striped table-bordered tblComment ">
                                        <thead>
                                            <tr>
                                               
                                                <th>Comment Text</th>
                                                <th>Comment Created Date</th>
                                                <th>Comment View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@foreach (var x in Model.comment)
                                            {
                                                <tr>

                                                   
                                                    <td class="text-truncate" style="max-width: 200px;">@x.Text</td>
                                                    <td>@x.CreatedAt.DateTime</td>
                                                    <td><button class="btn btn-sm btn-primary ViewComment" commenttext="@x.Text" commentdate="@x.CreatedAt.DateTime" commentType="@x.Subject" type="button"><i class="fas fa-eye"></i> View</button></td>
                                                </tr>
                                            }*@
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



<script>

    $(document).ready(function () {

          $('.btnCommentView').click(function () {
            $('a[href="#CommentTab"]').click();
          });
         $('.tblComment').DataTable(
            {
               // scrollY: '50vh',
                scrollCollapse: true,
                paging: true,
               lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],

                //processing: true,
                // deferLoading: 5
            });
    });

    $(document).on('click', '.ForwardApp', function () {
         
        ShowCommentModal("@Model.ERApplications.Id",$(this).attr('data-title'));
    });   
</script>