@model ERPortal.Core.ViewModels.DGHERProposalViewModel
@{
    ViewBag.Title = "AppRecToDGH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: #bcf31185;
        color: darkblue;
    }

    #ERProposalTab label {
        font-weight: 700;
    }
</style>
@{
    string[] arr = Session["UserData"] as string[];
}
@Html.HiddenFor(model => model.ERApplications.ERScreeningDetailId)
@Html.HiddenFor(model => model.ERApplications.AppId)
@Html.HiddenFor(model => model.ERApplications.Id, new { @UserRole = arr[2] })

<div class="container-fluid">

    <div class="row">
        <!-- Tab panes -->
        <div class="tab-content shadow-lg col-lg-12 ">
            <ul class="nav nav-tabs bg-gradient-light mt-3">
                <li class="nav-item">
                    <a class="nav-link active" id="ERProposalTabLink" data-toggle="tab" href="#ERProposalTab">ER Screening Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link commenttablink" id="CommentTablTink" data-toggle="tab" href="#CommentTab">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Querycommenttablink" data-toggle="tab" href="#QueryCommentTab">Query</a>
                </li>
            </ul>

            <div id="ERProposalTab" class="container-fluid tab-pane active">
                <div class="row">
                    <div class="col-md-12 mt-4">

                        @Html.AntiForgeryToken()

                        <div class="card border-primary mb-3">
                            <div class="card-header bg-gradient-primary text-white">
                                <div class="row">
                                    <div class="col-lg-6"><h5><i class="fas fa-file-alt"></i> ER Screening Report Approval For DGH</h5></div>
                                    <div class="col-lg-6 ">
                                        <a href="#" class="btn btn-sm btn-outline-light float-right ml-1 GeneratePDF" id="GeneratePDF"><i class="fas fa-print"></i> Print</a>
                                        <a href="#" class="btn btn-sm btn-outline-light float-right ml-1 ForwardApp d-none" id="ForwardApp" data-toggle="modal" data-target="#CommentModal" data-page="ForwardApplication" data-title="Application (@Model.ERApplications.AppId) Action"><i class="fas fa-forward"></i> Action</a>
                                        <a href="#" class="btn btn-sm btn-outline-light float-right ml-1 d-none QueryComment " id="QueryComment" data-toggle="modal" data-target="#CommentModal" data-page="QueryCommentRaised" data-title="Query Raised"><i class="fas fa-question"></i> Query</a>
                                        <a href="#" class="btn btn-sm btn-outline-light float-right ml-1 d-none GrantApp" id="GrantApp" data-toggle="modal" data-target="#CommentModal" data-page="Comment" data-title="Application Grant"><i class="fas fa-check"></i> Grant</a>
                                        <a href="#" class="btn btn-sm btn-outline-light float-right ml-1 d-none UploadLetter" id="UploadLetter" data-toggle="modal" data-target="#CommentModal" data-page="UploadApprovalLetter" data-title="Upload Approval Letter"><i class="fas fa-upload"></i> Upload Letter</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body ml-lg-5">
                                <fieldset id="disabledForm" disabled>
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.Organisation, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.Organisation.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.FieldType, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.FieldType.Type, new { @class = "form-control" })

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.FieldName, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.FieldName, new { htmlAttributes = new { @class = "form-control" } })

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.HydrocarbonType, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.HydrocarbonType, "Choose...", new { @class = "form-control" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.HydrocarbonMethod, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.HydrocarbonMethod, "Choose...", new { @class = "form-control" })

                                            </div>
                                        </div>

                                        <div class="form-group row" id="uhcProdnMethodDiv" style="display: none">
                                            @Html.LabelFor(model => model.ERApplications.UHCProductionMethod, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.UHCProductionMethodId, new { @class = "form-control" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ImplementaionType, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.ImplementaionType, new { @class = "form-control" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.DateOfDiscovery, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.DateOfDiscovery, new { htmlAttributes = new { @class = "form-control datetimetext", @type = "text" } })

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.DateOfInitialCommercialProduction, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.DateOfInitialCommercialProduction, new { htmlAttributes = new { @class = "form-control ", @type = "text" } })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.PresentlyUnderProduction, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">
                                                    @Html.DisplayTextFor(model => model.ERApplications.PresentlyUnderProduction)

                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.ERApplications.PresentlyUnderProduction == ERPortal.Core.Models.YesNo.Yes)
                                        {
                                            <div class="form-group row" id="DateOfLastCommercialProductionDiv">
                                                @Html.LabelFor(model => model.ERApplications.DateOfLastCommercialProduction, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                                <div class="col-sm-6 d-flex align-items-center">
                                                    @Html.DisplayFor(model => model.ERApplications.DateOfLastCommercialProduction, new { htmlAttributes = new { @class = "form-control", @type = "text" } })

                                                </div>
                                            </div>
                                        }
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.FieldOIIP, "FieldOIIP (MMbbl)", htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="input-group mb-3">
                                                    @Html.DisplayFor(model => model.ERApplications.FieldOIIP, new { htmlAttributes = new { @class = "form-control", aria_describedby = "basic-addon1" } })
                                                </div>


                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.FieldGIIP, "FieldGIIP (TCF)", htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="input-group mb-3">
                                                    @Html.DisplayFor(model => model.ERApplications.FieldGIIP, new { htmlAttributes = new { @class = "form-control", aria_describedby = "basic-addon2" } })

                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERPilot.TechnicallyCompatible, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">

                                                    @Html.DisplayTextFor(model => model.ERApplications.ERPilot.TechnicallyCompatible)

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERPilot.PilotEconomicViability, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">

                                                    @Html.DisplayTextFor(model => model.ERApplications.ERPilot.PilotEconomicViability)
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERPilot.PilotDesign, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayTextFor(model => model.ERApplications.ERPilot.PilotDesign)                                             
                                            </div>
                                        </div>
                                        <div class=" border border-info p-2 shadow-sm PilotDetail">
                                            <p class="h5 text-info">Pilot Details</p>
                                            <div class="form-group row mt-3">
                                                @Html.LabelFor(model => model.ERApplications.ERPilot.PilotEconomicViability, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                                <div class="col-sm-6 d-flex align-items-center">
                                                    @Html.DisplayTextFor(model => model.ERApplications.ERPilot.PilotEconomicViability)
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                @Html.LabelFor(model => model.ERApplications.ERPilot.PilotNPV, htmlAttributes: new { @class = "col-sm-1 col-form-label font-weight-bold" })
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    @Html.DisplayTextFor(model => model.ERApplications.ERPilot.PilotNPV)
                                                </div>
                                                @Html.LabelFor(model => model.ERApplications.ERPilot.PilotIRR, htmlAttributes: new { @class = "offset-sm-1 col-sm-1 col-form-label font-weight-bold" })
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    @Html.DisplayTextFor(model => model.ERApplications.ERPilot.PilotIRR)
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ERApplications.ERPilot.PilotStartDate, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                                <div class="col-sm-6 d-flex align-items-center">

                                                    @Html.DisplayFor(model => model.ERApplications.ERPilot.PilotStartDate, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ERApplications.ERPilot.PilotEndDate, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                                <div class="col-sm-6 d-flex align-items-center">

                                                    @Html.DisplayFor(model => model.ERApplications.ERPilot.PilotEndDate, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                </div>
                                            </div>

                                        </div>
                                        <div class=" border border-primary shadow-sm p-2 mt-3 mb-3 FullFilled">
                                            <p class="h5 text-primary">Full Filled</p>
                                            <div class="form-group row mt-3">
                                                @Html.LabelFor(model => model.ERApplications.ERPilot.FullFillEconomicViability, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                                <div class="col-sm-6 d-flex align-items-center">
                                                    @Html.DisplayTextFor(model => model.ERApplications.ERPilot.FullFillEconomicViability)
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ERApplications.ERPilot.FullFillNPV, htmlAttributes: new { @class = "col-sm-1 col-form-label font-weight-bold" })
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    @Html.DisplayTextFor(model => model.ERApplications.ERPilot.FullFillNPV)
                                                </div>
                                                @Html.LabelFor(model => model.ERApplications.ERPilot.FullFillIRR, htmlAttributes: new { @class = "offset-sm-1 col-sm-1 col-form-label font-weight-bold" })
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    @Html.DisplayTextFor(model => model.ERApplications.ERPilot.FullFillIRR)
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ERApplications.ERPilot.FullFillStartDate, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                                <div class="col-sm-6 d-flex align-items-center">
                                                    @Html.DisplayFor(model => model.ERApplications.ERPilot.FullFillStartDate, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ERApplications.ERPilot.FullFillEndDate, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                                <div class="col-sm-6 d-flex align-items-center">
                                                    @Html.DisplayFor(model => model.ERApplications.ERPilot.FullFillEndDate, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.ERScreeningInstitute.InstituteName, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">
                                                    @Html.DisplayFor(model => model.ERApplications.ERScreeningDetail.ERScreeningInstitute.InstituteName, new { @class = "form-check-input" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.FirstOrderScreening, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">

                                                    @Html.DisplayTextFor(model => model.ERApplications.ERScreeningDetail.FirstOrderScreening)
                                                </div>
                                            </div>
                                        </div>
                                        @*@{
                                            if (Model.ERApplications.ERScreeningDetail.FirstOrderScreening == ERPortal.Core.Models.YesNo.Yes)
                                            {
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.FirstOrderScrText, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                                    <div class="col-sm-6 d-flex align-items-center">
                                                        <div class="form-check form-check-inline">

                                                            @Html.DisplayTextFor(model => model.ERApplications.ERScreeningDetail.FirstOrderScrText)
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }*@
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.SecondOrderScreening, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">

                                                    @Html.DisplayTextFor(model => model.ERApplications.ERScreeningDetail.SecondOrderScreening)
                                                </div>
                                            </div>
                                        </div>
                                        @{
                                            if (Model.ERApplications.ERScreeningDetail.SecondOrderScreening == ERPortal.Core.Models.YesNo.No)
                                            {
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.SecondOrderScrText, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                                    <div class="col-sm-6 d-flex align-items-center">
                                                        <div class="form-check form-check-inline">

                                                            @Html.DisplayTextFor(model => model.ERApplications.ERScreeningDetail.SecondOrderScrText)
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.ThirdOrderScreening, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div class="form-check form-check-inline">

                                                    @Html.DisplayTextFor(model => model.ERApplications.ERScreeningDetail.ThirdOrderScreening)
                                                </div>
                                            </div>
                                        </div>
                                        @{
                                            if (Model.ERApplications.ERScreeningDetail.ThirdOrderScreening == ERPortal.Core.Models.YesNo.No)
                                            {
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.ERApplications.ERScreeningDetail.ThirdOrderScrText, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                                    <div class="col-sm-6 d-flex align-items-center">
                                                        <div class="form-check form-check-inline">

                                                            @Html.DisplayTextFor(model => model.ERApplications.ERScreeningDetail.ThirdOrderScrText)
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }


                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ERApplications.AdditonalRemarks, htmlAttributes: new { @class = "col-sm-5 col-form-label font-weight-bold" })
                                            <div class="col-sm-6 d-flex align-items-center">
                                                @Html.DisplayFor(model => model.ERApplications.AdditonalRemarks, new { htmlAttributes = new { @class = "form-control" } })

                                            </div>
                                        </div>
                                        <div id="DetailViewFile" class="form-group row">
                                            <div class="pl-2 border-primary col-sm-12" style="border:dashed">
                                                <p class="text-info font-weight-bold h5">Documents</p>
                                                @Html.HiddenFor(model => model.ERApplications.ERScreeningDetail.ReportDocumentPath)
                                                @if (ViewBag.ERFiles.Count > 0)
                                                {
                                                    foreach (var x in ViewBag.ERFiles)
                                                    {
                                                        <div class='badge badge-warning mr-2 mb-2'>
                                                            <a class='text-dark' href="@Url.Content("~/Content/Uploads/" + x.NewFileName)" target='_blank'>@x.FileName</a>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <h6 class="text-danger font-weight-bold">No File Found</h6>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div id="CommentTab" class="container-fluid tab-pane fade">
                <br />

                <div class="row form-group">
                    <div class="col-xs-12 col-md-offset-2 col-md-12 col-lg-12 col-lg-offset-2">
                        <div class="card  border-info">
                            <div class="card-header bg-gradient-info text-light">
                                <h6><i class="fas fa-comment-alt "></i> Application Summary<span class="float-right">Application Id : @Model.ERApplications.AppId</span></h6>
                            </div>
                            <div class="card-body body-panel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="QueryCommentTab" class="container-fluid tab-pane fade">
                <br />

                <div class="row form-group">
                    <div class="col-xs-12 col-md-offset-2 col-md-12 col-lg-12 col-lg-offset-2">
                        <div class="card  border-warning">
                            <div class="card-header bg-gradient-warning text-danger">
                                <h6><i class="fas fa-comment-alt "></i> Query Summary<span class="float-right">Application Id : @Model.ERApplications.AppId</span></h6>
                            </div>
                            <div class="card-body body-panel">
                            </div>
                            @*<div class="card-footer">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12 nopadding">
                                                <textarea id="demo-editor-bootstrap"> </textarea>
                                            </div>
                                            <div class="col-lg-12">
                                                <button class="btn btn-success mt-2"><i class="fas fa-forward"></i> Send</button>
                                                <button class="btn btn-success mt-2"><i class="fas fa-reply"></i> Reply</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>*@
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<script type="module" src="~/Scripts/CustomFiles/AppRecToDGH.js"></script>